body{
    background-image: url('granblue.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}
.jumbotron, #customJumbo {
    background-color: rgba(210, 213, 219, 0.8);
}
